.App {
  height: 100vh;
  background-color: #0d1116;
  overflow: scroll;
  text-align: center;
  padding-top: 1rem;
  padding-left: 8rem;
  padding-bottom: 1rem;
  padding-right: 10rem;
  
}

.bg-color{
  background-color: #0d1116;
}

.app-container {
  height: 100%;
}

.app-row {
  padding-top: 3rem;
}

.bold {
  font-weight: bold;
}

.header {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.sub-text {
  color: white;
  text-align: left;
  font-size: 3rem;
  font-weight: bold;
}

.sub-sub-text {
  text-align: left;
  color: #e0dcdc;
  font-size: 1.2rem;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #60c657 30%, #35aee2 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.saleCard {
  color: white;
  border-radius: 1rem;
  background: -webkit-linear-gradient(right, #2d6827 0%, #194f67 60%) ;
  height:100%;
  padding: 1rem 1rem;
  margin-left: 8rem;

}

.SaleHeader {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  background: -webkit-linear-gradient(left, #75e66b, #3cb7ec);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 2s ease infinite;

}

.sale-row {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left:0rem;
  margin-right: 0rem;
  width: auto;
  padding: auto;
}

.timeBox {
  background:  #35aee2;
  border-radius: 0.5rem;
  height: 100%;
  width: 20%;
  margin: 0rem 0.5rem;
  padding:  0rem 0.8rem;
}

.timeHeader {
  font-size: 1.6rem;
  font-weight: bold;
  padding:  0px 0px;
  margin: 0.5rem 0rem 0.1rem 0rem;
  color: white;
}

.timeBody {
  font-size: 0.5rem;
  font-weight: bold;
  padding: 0px 0px;
  margin: 0.1rem 0rem 0.5rem 0rem;
}

.timeBox-row{
  padding-left: 11%;
  padding-right: 11%;
}

.saleDesc {
  font-size: 0.8rem;
  text-align: left;
  color: #a1f2ea;
  margin: 0;
}

.saleDescVal {
  font-weight: bold;
  font-size: 0.95rem;
  background: -webkit-linear-gradient(left, #b7c3b6 30%, #a1f2ea 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input-group {
  padding: 0;
}

.form-control::placeholder{
  color: #a09c9c;  
  font-size: 0.8rem;
}

.form-control {
  border-radius: 5px;
  background:  #2f586a;
  color: #a09c9c; 
}

.form-control:focus {
  border-radius: 5px;
  background:  #2f586a;
  color: #a09c9c; 
}

.form-control:invalid {
  color: #e58585;
}

.form-control[type=number]::-webkit-inner-spin-button,
.form-control[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-group-text {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}


.cta-button {
  height: 45px;
  border: 0;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  background-color: rgb(32, 129, 226);
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.twitter-logo {
  width: 35px;
  height: 35px;
}

.wallet-address {
  color: white;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}